<div class="container-fluid">
    <div class="container">
        <footer class="py-5 my-0">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Présentation</a></li>
                <li class="nav-item"><a routerLink="/presentation" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a routerLink="/consultations" class="nav-link px-2 text-muted">Consultations</a>
                </li>
                <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-muted">Contact</a></li>
            </ul>
            <p class="text-center text-muted">
                <a href="mailto:sgoudelouf@gmail.com">
                    <i class="bi bi-envelope"></i>
                    sgoudelouf@gmail.com
                </a>
            </p>
            <p class="text-center text-muted">
                <a href="tel:0032471875548">
                    <i class="bi bi-telephone"></i>
                    0471/87.55.48
                </a>
            </p>
            <p class="text-center text-muted">&copy; 2022 Mamoot</p>
        </footer>
    </div>
</div>