<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            Sarah Goudelouf
            <br>
            Psychologue Clinicienne
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/presentation" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Présentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/consultations" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Consultations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>