<div class="container-fluid pb-5">
    <div class="col-12 col-lg-6 mx-auto mt-5 pt-5 pb-5">
        <img src="assets/img/blocks.webp" class="img-fluid mt-5 animate__animated animate__fadeInLeft">
        <div class="animate__animated animate__fadeInUp">
            <h2 class="mt-5 mb-3">Consultations</h2>
            <p>
                Je rencontre des enfants, dès l'âge de 3 ans, et des adolescents, jusqu'à l'âge de 18 ans. Le premier
                entretien constitue généralement en une analyse de la demande et anamnèse, avec l'enfant ou sans, en
                fonction de la problématique rencontrée. Ensuite, la prise en charge thérapeutique débute avec l'enfant
                ou
                l'adolescent. La prise en charge avec l'enfant se base, entre autres, sur l'utilisation de médias, tel
                que
                le jeu, le dessin ou d'autres activités ludiques. La collaboration avec les parents est également une
                dynamique importante du travail thérapeutique.
            </p>
            <p>
                Les motifs de consultation peuvent être variés, la liste ci-dessous étant, évidemment, non exhaustive:
            </p>
            <ul>
                <li>Troubles émotionnels</li>
                <li>Troubles anxieux</li>
                <li>Troubles du sommeil</li>
                <li>Troubles de l'alimentation</li>
                <li>Troubles du comportement</li>
                <li>Difficultés scolaires</li>
                <li>Difficultés sociales</li>
                <li>Mauvaise estime de soi</li>
                <li>Mal-être</li>
                <li>...</li>
            </ul>
            <p>
                La prise en charge vise à offrir à l'enfant/l'adolescent un cadre bienveillant, pouvant accueillir
                l'ensemble de ses émotions et également, à l'accompagner face à ses difficultés. Par ailleurs, il est
                important d'outiller l'enfant/l'adolescent afin qu'il puisse mieux gérer ses éventuelles difficultés
                futures.
            </p>
        </div>
    </div>
</div>