<div class="presentation">
    <div class="wrapper">
        <div class="animate__animated animate__fadeInLeft">
            <h2 class="mx-5 mt-5 mb-4">
                QUI SUIS-JE ?
            </h2>
            <p class="mx-5">
                Titulaire d'un Master en Sciences psychologique (2014), orientation
                cognitivo-comportementale,
                je
                travaille
                depuis plusieurs années avec des enfants et adolescents. J'ai consacré l'ensemble de mon
                cursus
                à
                l'enfance
                et l'adolescence; cursus, que j'ai, par la suite, enrichi de diverses formations. Je dispose
                également
                d'un
                Certificat Interuniversitaire consacré au Trouble du Spectre de l'Autisme. Il me tient à
                coeur
                de
                continuer
                à me former afin de proposer à chaque individu une prise en charge adaptée à ses besoins.
            </p>
            <p class="mx-5 mb-5">
                Je suis membre de la Commission belge des Psychologues (n°902214238).
                Je possède également le VISA de psychologue, délivré par le SPF Santé Publique.
            </p>
        </div>
    </div>
    <img class="img-notes" src="assets/img/notes.webp">
</div>