<div class="container-fluid">
    <div class="row py-5">
        <p class="col-11 col-xs-10 col-md-10 col-lg-6 text-center mx-auto animate__animated animate__fadeInLeft">
            Au cours de son développement, il peut arriver que l'enfant/l'adolescent, rencontre des difficultés
            affectant son bien-être et son épanouissement. Il est important que l'enfant/l'adolescent soit accompagné
            avec bienveillance face à celles-ci et cela, afin qu'il puisse (re)trouver cet état de bien-être et
            s'épanouir dans toutes les sphères de sa vie.
        </p>
    </div>
    
</div>