<div class="container-fluid">
    <div class="row">
        <div class="col-11 col-xs-10 col-md-10 col-lg-6 mx-auto">
            <div class="row my-5">
                <div class="col-lg-6 mx-auto my-auto ">
                    <p class="citation">
                        " Le plus beau cadeau que l'on peut faire à un enfant n'est pas tant de l'aimer que de lui
                        apprendre
                        à
                        s'aimer"
                    </p>
                    <p class="auteur">
                        Jacques Salomé
                    </p>
                </div>

                <div class="col-lg-6 mx-auto">
                    <img src="assets/img/autism.webp" class="img-fluid" alt ="cabinet psychologue enfant Villers">
                </div>
            </div>
        </div>
    </div>
</div>