<div class="container-fluid">
    <div class="bg">
        <div class="wrapper-title text-center col-11 col-xs-10 col-md-8 col-lg-6 col-xl-4 py-3 animate__animated animate__fadeInDown shadow">
            <h3>Sarah Goudelouf</h3>
            <h1>Psychologue Clinicienne</h1>
            <h2> Enfants et Adolescents</h2>
            <h2>Villers-la-Ville</h2>
            <hr>
            <div class="row col-8 mx-auto">
                <button type="button" class="btn btn-dark col-lg-5 mx-auto col-10 mb-2 mb-lg-0">Présentation</button>
                <button type="button" class="btn btn-dark col-lg-5 mx-auto col-10">Contact</button>
            </div>
        </div>
    </div>
</div>